Q3. Imagine you have a dataset where you have different categories of data, Now
you need to find the most similar data to the given data by using any 4 different
similarity algorithms. Now you have to build a model which can find the most similar
data to the given data.

In [39]:
import shutil
import requests
import pandas as pd
pd.options.display.max_columns = None

r = requests.get('https://storage.googleapis.com/kaggle-data-sets/32526/4243451/compressed/News_Category_Dataset_v3.json.zip?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gcp-kaggle-com%40kaggle-161607.iam.gserviceaccount.com%2F20230606%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20230606T055728Z&X-Goog-Expires=259200&X-Goog-SignedHeaders=host&X-Goog-Signature=580f7856006af78f46f5da3821b746c94f65afb9e55e2f19ebb3fff3a834989c75859cfd1c498fb5f9b5e1a1888d507a481582023020f1f40fe2e446356dd62da11dc6e604a48d44f3c6def05a2bcf0310cff92e4efd5134f868b2c764f0099d03a8ac57034c5b13df1e78f4d99db091224c0fcc6c48734bd055d93611635f1fbd72ad3d7fbcc62a4074d94d5a65a750bd1a67ba6b4939bad65d19b543c3022ff28851ed3053e9c7838e4554fe725d85dabd98647906ce879c3fc9fe976a5bb90a5845efb388d9002ca06f734ce3d6b31017f5dc1f72bce8f8b79d913bff9f85aa23070cd33a3c2c48462659ed55d0407ddf055ae3479f8f498ee3da27589db1')
open('News_Category_Dataset_v3.json.zip', 'wb').write(r.content)

shutil.unpack_archive('News_Category_Dataset_v3.json.zip')
data = pd.read_json('News_Category_Dataset_v3.json', lines=True)
data.head()

,link,headline,category,short_description,authors,date
0,https://www.huffpost.com/entry/covid-boosters-...,Over 4 Million Americans Roll Up Sleeves For O...,U.S. NEWS,Health experts said it is too early to predict...,"Carla K. Johnson, AP",2022-09-23
1,https://www.huffpost.com/entry/american-airlin...,"American Airlines Flyer Charged, Banned For Li...",U.S. NEWS,He was subdued by passengers and crew when he ...,Mary Papenfuss,2022-09-23
2,https://www.huffpost.com/entry/funniest-tweets...,23 Of The Funniest Tweets About Cats And Dogs ...,COMEDY,"""Until you have a dog you don't understand wha...",Elyse Wanshel,2022-09-23
3,https://www.huffpost.com/entry/funniest-parent...,The Funniest Tweets From Parents This Week (Se...,PARENTING,"""Accidentally put grown-up toothpaste on my to...",Caroline Bologna,2022-09-23
4,https://www.huffpost.com/entry/amy-cooper-lose...,Woman Who Called Cops On Black Bird-Watcher Lo...,U.S. NEWS,Amy Cooper accused investment firm Franklin Te...,Nina Golgowski,2022-09-22

In [114]:
df = pd.DataFrame(columns=data.columns)
for i in data.category.unique():
  df = pd.concat([df,data[data['category']==i].iloc[:100]], axis=0)

In [115]:
df.category.value_counts().sum()

4200

In [116]:
#removing date and link because news doesn't depends on these columns
df = df.drop(['link','date'],axis=1)

In [117]:
df.head(3)

,headline,category,short_description,authors
0,Over 4 Million Americans Roll Up Sleeves For O...,U.S. NEWS,Health experts said it is too early to predict...,"Carla K. Johnson, AP"
1,"American Airlines Flyer Charged, Banned For Li...",U.S. NEWS,He was subdued by passengers and crew when he ...,Mary Papenfuss
4,Woman Who Called Cops On Black Bird-Watcher Lo...,U.S. NEWS,Amy Cooper accused investment firm Franklin Te...,Nina Golgowski

In [118]:
df['tags'] = data['headline'] + data['short_description'] + data['authors']
df = df.drop(['authors'], axis=1)

In [119]:
df.head(3)

,headline,category,short_description,tags
0,Over 4 Million Americans Roll Up Sleeves For O...,U.S. NEWS,Health experts said it is too early to predict...,Over 4 Million Americans Roll Up Sleeves For O...
1,"American Airlines Flyer Charged, Banned For Li...",U.S. NEWS,He was subdued by passengers and crew when he ...,"American Airlines Flyer Charged, Banned For Li..."
4,Woman Who Called Cops On Black Bird-Watcher Lo...,U.S. NEWS,Amy Cooper accused investment firm Franklin Te...,Woman Who Called Cops On Black Bird-Watcher Lo...

In [120]:
df.reset_index(inplace=True)
df.drop('index',axis=1,inplace=True)

In [121]:
df.head()

,headline,category,short_description,tags
0,Over 4 Million Americans Roll Up Sleeves For O...,U.S. NEWS,Health experts said it is too early to predict...,Over 4 Million Americans Roll Up Sleeves For O...
1,"American Airlines Flyer Charged, Banned For Li...",U.S. NEWS,He was subdued by passengers and crew when he ...,"American Airlines Flyer Charged, Banned For Li..."
2,Woman Who Called Cops On Black Bird-Watcher Lo...,U.S. NEWS,Amy Cooper accused investment firm Franklin Te...,Woman Who Called Cops On Black Bird-Watcher Lo...
3,Cleaner Was Dead In Belk Bathroom For 4 Days B...,U.S. NEWS,The 63-year-old woman was seen working at the ...,Cleaner Was Dead In Belk Bathroom For 4 Days B...
4,Reporter Gets Adorable Surprise From Her Boyfr...,U.S. NEWS,"""Who's that behind you?"" an anchor for New Yor...",Reporter Gets Adorable Surprise From Her Boyfr...

In [122]:
import nltk
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

def stem(text):
  y=[]
  for i in text.split():
    y.append(ps.stem(i))
  return ' '.join(y)

In [123]:
df['tags'] = df['tags'].apply(stem)

In [124]:
df.to_csv('preprocessed_news_data.csv', index=False)

In [125]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words='english')
vectors = cv.fit_transform(df['tags']).toarray()

In [126]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0])

In [127]:
from sklearn.metrics.pairwise import cosine_similarity

In [128]:
similarity = cosine_similarity(vectors)

In [155]:
def show_similar(category, n):
  category_index = df[df['category']==category].index[0]
  distances = similarity[category_index]
  news_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x:x[1])[1:n+1]

  for i in news_list:
    print(df.iloc[i[0]]['headline'])
    print(df.iloc[i[0]]['short_description'])
    print('\n')

In [156]:
show_similar('U.S. NEWS', 8)

Johnson & Johnson 1-Dose Shot Prevents COVID-19, But Less Than Some Others
J&J said within a week, it will file an application for emergency use in the U.S., and then abroad.


Expert Predicts Baby Name For Kim And Kanye's New Daughter
Nameberry weighs in.


Larry Nassar Victims To Receive $500 Million In Michigan State Settlement
In the event of future lawsuits, $75 million will be set aside.


'Lost' Leonardo Da Vinci Sells For Record $450 Million At Auction
"Salvator Mundi," long missing, was expected to fetch at least $100 million.


An Open Letter To Donald Trump's Legion Of Supporters
Trump promises to rebuild America's inner cities, which he claims are less safe than the streets of Afghanistan. He promises to create millions of jobs. He promises, yes, to make American great again. Does anyone believe him? Tens of millions do.


Report: Prince Charles' Charity Got Donation From Bin Ladens
The Prince of Wales’s Charitable Fund accepted a 1 million pound ($1.2 million) donation from relatives of Osama bin Laden, a newspaper reported.


In A Nod To JFK, Joe Biden Pushing 'Moonshot' To Fight Cancer
Biden plans to draw attention to a new federally backed study that seeks to validate using blood tests to screen against multiple cancers.


If You're Eligible For A COVID Booster Shot Right Now, Should You Get It?
Figuring out when to get a third dose of the vaccine is complicated. Here's what to know about the timing and ethics of getting one.

In [157]:
show_similar('CRIME', 5)

Starbucks Says Anyone Can Now Sit In Its Cafes -- Even Without Buying Anything
The new policy was unveiled weeks after the controversial arrest of two black men at a Philadelphia Starbucks.


Florida Gunman In Full Body Armor Arrested After Killing 4: Police
Among the victims was an infant who was still in their dead mother's arms when police found them, according to Polk County authorities.


Woman In China Says Colleague’s Face Was Able To Unlock Her iPhone X
It could also be cheeky passcode training, an Apple spokesman says.


Elon Musk's Estranged Father Has Child With Stepdaughter, Says It's 'God's Plan'
The young woman was only 4 years old when Errol Musk married her mother.


Man Arrested In Death Of Jacqueline Avant, Music Icon’s Wife, In Beverly Hills
A 29-year-old man has been arrested after the fatal shooting of philanthropist Jacqueline Avant, the wife of legendary music executive Clarence Avant.

In [159]:
show_similar('ENTERTAINMENT',6)

Actress Shamed For Wearing Red To Golden Globes Responds To Critics
Blanca Blanco defended her decision to not take part in the all-black protest.


This Is What The Golden Globes Looked Like In 1998
Our hearts still go on for Leonardo DiCaprio and Kate Winslet.


Myanmar Court Sentences American Journalist Danny Fenster To 11 Years In Jail
He was found guilty on several charges, including incitement for allegedly spreading false or inflammatory information.


Angry White Guy Accosts Black MSNBC Reporter During Hurricane Ida Segment
Video shows the man, who has not been identified, getting out of a truck to yell at Shaquille Brewster about reporting the news “accurately.”


If You’re A Working Mom, Here’s What You Accomplished Last Year
Happy New Year! Typically, the past week or so has been spent reviewing the last 12 months, making resolutions, and posting


What It's Like To Be A Black Chef Running A Halal Soul Food Restaurant
Fanerra Dupree, co-owner of Black Nile, says, "Sometimes we're not Black American enough and sometimes not Muslim enough."

In [162]:
show_similar('ARTS',6)

Children's Books To Celebrate World Book Day
From "Peter Pan" to “Madeline," our readers recommend their favorite books to read to their kids and give as presents.


A Nicky Jam Bio-Series Is Coming To Netflix
The 13-episode show will star the reggaeton artist himself.


GOP Sen. Joni Ernst Blocks Bill Protecting Right To Birth Control
Republican lawmakers are celebrating the end of nationwide abortion rights while blocking federal protections for birth control.


What Wikipedia Won't Tell You About Personal Savings
The real power is in your hands. Now its up to you to step up to the plate and do something about your personal savings.


Discovering In Parenthesis



19 Children's Books That Normalize Breastfeeding
These books educate kids about nursing or feature images that show it's natural.

In [164]:
show_similar('EDUCATION',5)

Low-Profile Ransomware Attacks Continue As High-Profile Cases Slow
Cyberattacks have interrupted schools, hospitals, government and an array of businesses across the country.


Pennsylvania School District Arms 500 Teachers With Mini Baseball Bats
"It is the last resort, but it is an option," the Millcreek School District superintendent said.


Syrian Refugee High School Student Hospitalized After Bathroom Attack
Police are treating the attack at Chartiers Valley High School as a bullying incident.


High School Sweethearts Marry 63 Years After They Went To Prom
"I’m giddy as can be." Bob Harvey and Annette Adkins rekindled their high school romance decades later.


Los Angeles Charter School Operators Demand Less Oversight And Accountability, And Fewer Investigations
A number of Los Angeles charter schools up for renewal this week are throwing a tantrum if they don’t get their way. Charter

In [165]:
show_similar('ENVIRONMENT',5)

How Fossil Fuel Companies Are Killing Plastic Recycling
Plastic trash has overwhelmed America. Fossil fuel companies are about to make it worse.


Top Banks Pumped Billions More Into The Dirtiest Fossil Fuels Last Year
Even as they claimed they were committed to fighting climate change.


Navy Objects To Recommendation It Drain Hawaii Fuel Tanks
State officials are seeking to hold the U.S. Navy accountable for a leak at a fuel tank farm that sits above an aquifer that provides drinking water for Oahu.


After Enrollment Dips, Public Schools Hope For Fall Rebound
As the coronavirus pandemic wanes in the United States, some parents are wondering if their children should return to public school.


Climate Conference Reverses Course On Call To End Coal Use
An earlier proposal at the 2021 United Nations Climate Change Conference called on nations to "accelerate the phasing out of coal and subsidies for fossil fuel."

In [158]:
['U.S. NEWS', 'COMEDY', 'PARENTING', 'WORLD NEWS', 'CULTURE & ARTS',
       'TECH', 'SPORTS', 'ENTERTAINMENT', 'POLITICS', 'WEIRD NEWS',
       'ENVIRONMENT', 'EDUCATION', 'CRIME', 'SCIENCE', 'WELLNESS',
       'BUSINESS', 'STYLE & BEAUTY', 'FOOD & DRINK', 'MEDIA',
       'QUEER VOICES', 'HOME & LIVING', 'WOMEN', 'BLACK VOICES', 'TRAVEL',
       'MONEY', 'RELIGION', 'LATINO VOICES', 'IMPACT', 'WEDDINGS',
       'COLLEGE', 'PARENTS', 'ARTS & CULTURE', 'STYLE', 'GREEN', 'TASTE',
       'HEALTHY LIVING', 'THE WORLDPOST', 'GOOD NEWS', 'WORLDPOST',
       'FIFTY', 'ARTS', 'DIVORCE']

['U.S. NEWS',
 'COMEDY',
 'PARENTING',
 'WORLD NEWS',
 'CULTURE & ARTS',
 'TECH',
 'SPORTS',
 'ENTERTAINMENT',
 'POLITICS',
 'WEIRD NEWS',
 'ENVIRONMENT',
 'EDUCATION',
 'CRIME',
 'SCIENCE',
 'WELLNESS',
 'BUSINESS',
 'STYLE & BEAUTY',
 'FOOD & DRINK',
 'MEDIA',
 'QUEER VOICES',
 'HOME & LIVING',
 'WOMEN',
 'BLACK VOICES',
 'TRAVEL',
 'MONEY',
 'RELIGION',
 'LATINO VOICES',
 'IMPACT',
 'WEDDINGS',
 'COLLEGE',
 'PARENTS',
 'ARTS & CULTURE',
 'STYLE',
 'GREEN',
 'TASTE',
 'HEALTHY LIVING',
 'THE WORLDPOST',
 'GOOD NEWS',
 'WORLDPOST',
 'FIFTY',
 'ARTS',
 'DIVORCE']